#root{
    font-family: 'Courier New', Courier, monospace;
    color: #6b5b95;
}
#image {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    display: inline-block;
}
.container{
    margin-top: 30px;
    background-color : whitesmoke;
}
#body{
    width:60%;
    padding: 20px;
    border: 3px solid gray;
    border-radius: 50px;
}
.name-about{
    display:inline-block;
    padding-top: 20px;
    margin-left: 20px;
       
}
#research{
    margin-top: 10px;
    
}
#description{
    font-weight: bold;
    
}

#btn1,#btn2,#btn3{
    display: inline;
    margin: 10px;
    border: none;
    background-color: whitesmoke;
    color: blue;
}

#btn1:hover,#btn2:hover,#btn3:hover{
    background-color: lightgreen;
    color: white;
    border: grey;
    border-radius: 7px;
}
